In [41]:
import pandas
import numpy

import sys
sys.path.append('../libs')

import icd_util

clinic_file = lambda i: '/scr1/mimic/clinic/{}.csv'.format(i.upper())

def load_raw():
    diagnosis = pandas.read_csv(clinic_file('admissions'))
    new_names = {i.upper(): i for i in ['subject_id', 'hadm_id']}
    new_names['DIAGNOSIS'] = 'admission_diagnosis'
    diagnosis = diagnosis[new_names].rename(columns=new_names)
    diagnosis['admission_diagnosis'] = diagnosis['admission_diagnosis'].map(lambda i: str(i).title())
    diagnosis.drop_duplicates(inplace=True)
    diagnosis.set_index(['subject_id', 'hadm_id'], inplace=True)
    diagnosis.sort_index(inplace=True)
    return diagnosis

In [42]:
diagnosis = load_raw()

In [43]:
diagnosis

                                    admission_diagnosis
subject_id hadm_id
2          163353                               Newborn
3          145834                           Hypotension
4          185777   Fever,Dehydration,Failure To Thrive
5          178980                               Newborn
6          107064             Chronic Renal Failure/Sda
...                                                 ...
99985      176670                                 Fever
99991      151118                    Diverticulitis/Sda
99992      197084            Retroperitoneal Hemorrhage
99995      137810         Abdominal Aortic Aneurysm/Sda
99999      113369                 Spondylolisthesis/Sda

[58976 rows x 1 columns]

In [34]:
metadata = pandas.read_hdf('/scr-ssd/mimic/metadata.hdf')

In [60]:
index = [tuple(i) for i in metadata[['subject_id', 'hadm_id']].values]
index[:5]

[(9950, 173995),
 (9950, 173995),
 (9950, 173995),
 (9950, 173995),
 (9950, 173995)]

In [59]:
diagnosis.reindex(index)

                   admission_diagnosis
subject_id hadm_id
9950       173995      S/P Vfib Arrest
           173995      S/P Vfib Arrest
           173995      S/P Vfib Arrest
           173995      S/P Vfib Arrest
           173995      S/P Vfib Arrest

In [62]:
values = diagnosis.reindex(index)

In [63]:
metadata

                hadm_id  subject_id                    time gender        dob  \
rec_id  seg_id
3000003 1        173995        9950 2155-04-19 19:44:07.664      M 2108-02-01
        2        173995        9950 2155-04-19 19:46:22.685      M 2108-02-01
        3        173995        9950 2155-04-19 19:46:25.757      M 2108-02-01
        4        173995        9950 2155-04-19 19:46:33.981      M 2108-02-01
        5        173995        9950 2155-04-19 19:46:37.053      M 2108-02-01
...                 ...         ...                     ...    ...        ...
3999988 6            -1          -1                     NaT    NaN        NaT
        7            -1          -1                     NaT    NaN        NaT
        8            -1          -1                     NaT    NaN        NaT
        9            -1          -1                     NaT    NaN        NaT
        10           -1          -1                     NaT    NaN        NaT

                age  weight  height  sig_len death_time   race
rec_id  seg_id
3000003 1        47     NaN      74    16878        NaT  white
        2        47     NaN      74      384        NaT  white
        3        47     NaN      74     1028        NaT  white
        4        47     NaN      74      384        NaT  white
        5        47     NaN      74   438826        NaT  white
...             ...     ...     ...      ...        ...    ...
3999988 6        -1     NaN      -1     5250        NaT    NaN
        7        -1     NaN      -1      250        NaT    NaN
        8        -1     NaN      -1      500        NaT    NaN
        9        -1     NaN      -1      250        NaT    NaN
        10       -1     NaN      -1    24875        NaT    NaN

[2273298 rows x 11 columns]

In [65]:
values['admission_diagnosis'].values

array(['S/P Vfib Arrest', 'S/P Vfib Arrest', 'S/P Vfib Arrest', ..., nan,
       nan, nan], dtype=object)

In [66]:
metadata['admission_diagnosis'] = values['admission_diagnosis'].values

In [67]:
metadata

                hadm_id  subject_id                    time gender        dob  \
rec_id  seg_id
3000003 1        173995        9950 2155-04-19 19:44:07.664      M 2108-02-01
        2        173995        9950 2155-04-19 19:46:22.685      M 2108-02-01
        3        173995        9950 2155-04-19 19:46:25.757      M 2108-02-01
        4        173995        9950 2155-04-19 19:46:33.981      M 2108-02-01
        5        173995        9950 2155-04-19 19:46:37.053      M 2108-02-01
...                 ...         ...                     ...    ...        ...
3999988 6            -1          -1                     NaT    NaN        NaT
        7            -1          -1                     NaT    NaN        NaT
        8            -1          -1                     NaT    NaN        NaT
        9            -1          -1                     NaT    NaN        NaT
        10           -1          -1                     NaT    NaN        NaT

                age  weight  height  sig_len death_time   race  \
rec_id  seg_id
3000003 1        47     NaN      74    16878        NaT  white
        2        47     NaN      74      384        NaT  white
        3        47     NaN      74     1028        NaT  white
        4        47     NaN      74      384        NaT  white
        5        47     NaN      74   438826        NaT  white
...             ...     ...     ...      ...        ...    ...
3999988 6        -1     NaN      -1     5250        NaT    NaN
        7        -1     NaN      -1      250        NaT    NaN
        8        -1     NaN      -1      500        NaT    NaN
        9        -1     NaN      -1      250        NaT    NaN
        10       -1     NaN      -1    24875        NaT    NaN

               admission_diagnosis
rec_id  seg_id
3000003 1          S/P Vfib Arrest
        2          S/P Vfib Arrest
        3          S/P Vfib Arrest
        4          S/P Vfib Arrest
        5          S/P Vfib Arrest
...                            ...
3999988 6                      NaN
        7                      NaN
        8                      NaN
        9                      NaN
        10                     NaN

[2273298 rows x 12 columns]

In [68]:
# ! cp /scr-ssd/mimic/metadata.hdf /scr-ssd/mimic/metadata_backup.hdf

In [69]:
metadata.to_hdf('/scr-ssd/mimic/metadata.hdf', 'metadata', format='table', mode='w', complevel=6)