In [1]:
import tensorflow as tf
import numpy
import os
import json, pickle
import pandas
from functools import partial, reduce
import importlib

import sys
sys.path.append('../libs')

import flacdb
import prepare_data
import initialize
import data_pipeline
import loss_metrics
import conv_model
import plot_batch

In [2]:
codes = json.load(open('/scr-ssd/icd/icd9.json'))

In [3]:
codes[0]

[{'code': '001-139',
  'depth': 1,
  'href': '/index.php?action=child&recordid=1',
  'descr': 'INFECTIOUS AND PARASITIC DISEASES '},
 {'code': '001-009',
  'depth': 2,
  'href': '/index.php?action=child&recordid=2',
  'descr': 'INTESTINAL INFECTIOUS DISEASES '},
 {'code': '001',
  'depth': 3,
  'href': '/index.php?action=child&recordid=3',
  'descr': 'Cholera'},
 {'code': '001.9', 'depth': 4, 'href': None, 'descr': 'Cholera, unspecified'}]

In [4]:
codes[1]

[{'code': '001-139',
  'depth': 1,
  'href': '/index.php?action=child&recordid=1',
  'descr': 'INFECTIOUS AND PARASITIC DISEASES '},
 {'code': '001-009',
  'depth': 2,
  'href': '/index.php?action=child&recordid=2',
  'descr': 'INTESTINAL INFECTIOUS DISEASES '},
 {'code': '001',
  'depth': 3,
  'href': '/index.php?action=child&recordid=3',
  'descr': 'Cholera'},
 {'code': '001.1',
  'depth': 4,
  'href': None,
  'descr': 'Due to Vibrio cholerae el tor'}]

In [5]:
codes[2]

[{'code': '001-139',
  'depth': 1,
  'href': '/index.php?action=child&recordid=1',
  'descr': 'INFECTIOUS AND PARASITIC DISEASES '},
 {'code': '001-009',
  'depth': 2,
  'href': '/index.php?action=child&recordid=2',
  'descr': 'INTESTINAL INFECTIOUS DISEASES '},
 {'code': '001',
  'depth': 3,
  'href': '/index.php?action=child&recordid=3',
  'descr': 'Cholera'},
 {'code': '001.0',
  'depth': 4,
  'href': None,
  'descr': 'Due to Vibrio cholerae'}]

In [6]:
codes[3]

[{'code': '001-139',
  'depth': 1,
  'href': '/index.php?action=child&recordid=1',
  'descr': 'INFECTIOUS AND PARASITIC DISEASES '},
 {'code': '001-009',
  'depth': 2,
  'href': '/index.php?action=child&recordid=2',
  'descr': 'INTESTINAL INFECTIOUS DISEASES '},
 {'code': '002',
  'depth': 3,
  'href': '/index.php?action=child&recordid=7',
  'descr': 'Typhoid and paratyphoid fevers'},
 {'code': '002.9',
  'depth': 4,
  'href': None,
  'descr': 'Paratyphoid fever, unspecified'}]

In [43]:
names = {j['code'] for i in codes for j in i}
names = {i for i in names if i is not None}
names = {i.replace('.', '') if '.' in i else i for i in names}
len(names)

11835

In [45]:
missing = [i for i in counts.index if i not in names]
len(missing)

2021

In [50]:
[i for i in codes if i[-1]['code'] == '285']

[[{'code': '280-289',
   'depth': 1,
   'href': '/index.php?action=child&recordid=2175',
   'descr': 'DISEASES OF THE BLOOD AND BLOOD-FORMING ORGANS '},
  {'code': '285',
   'depth': 2,
   'href': '/index.php?action=child&recordid=2228',
   'descr': 'Other and unspecified anemias'},
  {'code': '285',
   'depth': 3,
   'href': None,
   'descr': 'Other and unspecified anemias'}]]

In [48]:
[i for i in names if '285' in i]

['285',
 'E9285',
 '03285',
 'V285',
 '29285',
 '11285',
 '30285',
 'V7285',
 '5285',
 '7285',
 '36285']

In [49]:
[i for i in loss_metrics.CODE_NAMES if i not in names]

['25000', '2859', '41071', '4917']

In [51]:
codes2 = pandas.read_csv('/scr-ssd/icd/ICD9DIAG.csv')

In [58]:
len(set(counts.index))

6984

In [62]:
len(set(codes2['code']) & set(counts.index))

6316

In [63]:
len(names & set(counts.index))

4963

In [72]:
S1 = names
S2 = set(codes2['code'])
S = S1 | S2
missing2 = [i for i in counts.index if i not in S]

In [75]:
len(missing2)

282

In [80]:
sum(i not in S1 for i in counts.index)

2021

In [89]:
missing = [i for i in counts.index if i not in S1 and i[:-1] not in S1]
len(missing)

353

In [112]:
[i for i in codes if any(j['code'] is not None and '428.3' in j['code'] for j in i)]

[[{'code': '390-459',
   'depth': 1,
   'href': '/index.php?action=child&recordid=4314',
   'descr': 'DISEASES OF THE CIRCULATORY SYSTEM '},
  {'code': '420-429',
   'depth': 2,
   'href': '/index.php?action=child&recordid=4447',
   'descr': 'OTHER FORMS OF HEART DISEASE '},
  {'code': '428',
   'depth': 3,
   'href': '/index.php?action=child&recordid=4534',
   'descr': 'Heart failure'},
  {'code': '428.3',
   'depth': 4,
   'href': '/index.php?action=child&recordid=4542',
   'descr': 'Diastolic heart failure'},
  {'code': '428.33', 'depth': 5, 'href': None, 'descr': 'Acute on chronic'}],
 [{'code': '390-459',
   'depth': 1,
   'href': '/index.php?action=child&recordid=4314',
   'descr': 'DISEASES OF THE CIRCULATORY SYSTEM '},
  {'code': '420-429',
   'depth': 2,
   'href': '/index.php?action=child&recordid=4447',
   'descr': 'OTHER FORMS OF HEART DISEASE '},
  {'code': '428',
   'depth': 3,
   'href': '/index.php?action=child&recordid=4534',
   'descr': 'Heart failure'},
  {'code': '428.3',
   'depth': 4,
   'href': '/index.php?action=child&recordid=4542',
   'descr': 'Diastolic heart failure'},
  {'code': '428.32', 'depth': 5, 'href': None, 'descr': 'Chronic'}],
 [{'code': '390-459',
   'depth': 1,
   'href': '/index.php?action=child&recordid=4314',
   'descr': 'DISEASES OF THE CIRCULATORY SYSTEM '},
  {'code': '420-429',
   'depth': 2,
   'href': '/index.php?action=child&recordid=4447',
   'descr': 'OTHER FORMS OF HEART DISEASE '},
  {'code': '428',
   'depth': 3,
   'href': '/index.php?action=child&recordid=4534',
   'descr': 'Heart failure'},
  {'code': '428.3',
   'depth': 4,
   'href': '/index.php?action=child&recordid=4542',
   'descr': 'Diastolic heart failure'},
  {'code': '428.31', 'depth': 5, 'href': None, 'descr': 'Acute'}],
 [{'code': '390-459',
   'depth': 1,
   'href': '/index.php?action=child&recordid=4314',
   'descr': 'DISEASES OF THE CIRCULATORY SYSTEM '},
  {'code': '420-429',
   'depth': 2,
   'href': '/index.php?action=child&recordid=4447',
   'descr': 'OTHER FORMS OF HEART DISEASE '},
  {'code': '428',
   'depth': 3,
   'href': '/index.php?action=child&recordid=4534',
   'descr': 'Heart failure'},
  {'code': '428.3',
   'depth': 4,
   'href': '/index.php?action=child&recordid=4542',
   'descr': 'Diastolic heart failure'},
  {'code': '428.30', 'depth': 5, 'href': None, 'descr': 'Unspecified'}]]

In [107]:
counts[:50]

                                               Condition  Count
4019                  Unspecified essential hypertension  20703
4280               Congestive heart failure, unspecified  13111
42731                                Atrial fibrillation  12891
41401  Coronary atherosclerosis of native coronary ar...  12429
5849                   Acute kidney failure, unspecified   9119
25000  Diabetes mellitus without mention of complicat...   9058
2724                Other and unspecified hyperlipidemia   8690
51881                          Acute respiratory failure   7497
5990         Urinary tract infection, site not specified   6555
53081                                  Esophageal reflux   6326
2720                           Pure hypercholesterolemia   5930
V053   Need for prophylactic vaccination and inoculat...   5779
V290      Observation for suspected infectious condition   5519
2859                                 Anemia, unspecified   5406
2449                 Unspecified acquired hypothyroidism   4917
486                      Pneumonia, organism unspecified   4839
2851                        Acute posthemorrhagic anemia   4552
2762                                            Acidosis   4528
496    Chronic airway obstruction, not elsewhere clas...   4431
99592                                      Severe sepsis   3912
V5861          Long-term (current) use of anticoagulants   3806
0389                              Unspecified septicemia   3725
5070    Pneumonitis due to inhalation of food or vomitus   3680
V3000  Single liveborn, born in hospital, delivered w...   3566
5859                 Chronic kidney disease, unspecified   3435
311        Depressive disorder, not elsewhere classified   3431
40390  Hypertensive chronic kidney disease, unspecifi...   3421
3051                                Tobacco use disorder   3358
412                            Old myocardial infarction   3278
2875                       Thrombocytopenia, unspecified   3065
V4581                        Aortocoronary bypass status   3056
41071  Subendocardial infarction, initial episode of ...   3055
2761                   Hyposmolality and/or hyponatremia   3039
4240                              Mitral valve disorders   2926
V1582                    Personal history of tobacco use   2811
V3001  Single liveborn, born in hospital, delivered b...   2758
5119                        Unspecified pleural effusion   2734
V4582  Percutaneous transluminal coronary angioplasty...   2725
40391  Hypertensive chronic kidney disease, unspecifi...   2630
78552                                       Septic shock   2586
4241                              Aortic valve disorders   2550
V5867                 Long-term (current) use of insulin   2538
42789               Other specified cardiac dysrhythmias   2453
32723         Obstructive sleep apnea (adult)(pediatric)   2380
9971     Cardiac complications, not elsewhere classified   2343
5845   Acute kidney failure with lesion of tubular ne...   2287
2760                Hyperosmolality and/or hypernatremia   2272
7742   Neonatal jaundice associated with preterm deli...   2264
49390              Asthma, unspecified type, unspecified   2195
2767                                     Hyperpotassemia   2169

In [99]:
(counts['Count'] > 2000).sum()

56

In [105]:
counts.reindex(loss_metrics.CODE_NAMES)

                                               Condition    Count
25000  Diabetes mellitus without mention of complicat...   9058.0
2720                           Pure hypercholesterolemia   5930.0
2724                Other and unspecified hyperlipidemia   8690.0
2761                   Hyposmolality and/or hyponatremia   3039.0
2762                                            Acidosis   4528.0
27651                                        Dehydration   1385.0
27652                                        Hypovolemia   1374.0
27800                               Obesity, unspecified   1511.0
2859                                 Anemia, unspecified   5406.0
4019                  Unspecified essential hypertension  20703.0
41071  Subendocardial infarction, initial episode of ...   3055.0
41401  Coronary atherosclerosis of native coronary ar...  12429.0
4160                      Primary pulmonary hypertension    401.0
4240                              Mitral valve disorders   2926.0
4241                              Aortic valve disorders   2550.0
42731                                Atrial fibrillation  12891.0
42732                                     Atrial flutter   1217.0
4275                                      Cardiac arrest   1361.0
42789               Other specified cardiac dysrhythmias   2453.0
4280               Congestive heart failure, unspecified  13111.0
42832                    Chronic diastolic heart failure   1240.0
42833           Acute on chronic diastolic heart failure   1220.0
431                             Intracerebral hemorrhage   1367.0
4552        Internal hemorrhoids with other complication    102.0
4917                                                 NaN      NaN
5119                        Unspecified pleural effusion   2734.0
51881                          Acute respiratory failure   7497.0
5715       Cirrhosis of liver without mention of alcohol   1287.0
5849                   Acute kidney failure, unspecified   9119.0
5859                 Chronic kidney disease, unspecified   3435.0
78552                                       Septic shock   2586.0
79902                                          Hypoxemia   1298.0
99592                                      Severe sepsis   3912.0

In [ ]:
counts['Count'] > 1000

In [113]:
diagnosis = pandas.read_csv(clinic_file('diagnoses_icd'))
new_names = {i.upper(): i for i in ['subject_id', 'hadm_id']}
new_names['ICD9_CODE'] = 'code'
diagnosis = diagnosis[new_names].rename(columns=new_names)

In [114]:
diagnosis

        subject_id  hadm_id   code
0              109   172335  40301
1              109   172335    486
2              109   172335  58281
3              109   172335   5855
4              109   172335   4254
...            ...      ...    ...
651042       97503   188195  20280
651043       97503   188195  V5869
651044       97503   188195  V1279
651045       97503   188195   5275
651046       97503   188195   5569

[651047 rows x 3 columns]

In [18]:
len(counts)

6984

In [14]:
root = '/scr1/mimic/'
clinic_file = lambda i: root + 'clinic/{}.csv'.format(i.upper())
diagnoses_info = pandas.read_csv(clinic_file('d_icd_diagnoses'))
diagnoses_info = diagnoses_info.drop(columns='ROW_ID').set_index('ICD9_CODE')
diagnoses_info.rename(columns={'LONG_TITLE': 'Condition'}, inplace=True)
diagnoses = pandas.read_csv(clinic_file('diagnoses_icd')).drop(columns='ROW_ID')
counts = diagnoses['ICD9_CODE'].value_counts()
counts = pandas.concat([
    diagnoses_info.reindex(counts.index)[['Condition']], 
    pandas.Series(counts, name='Count')
], axis=1)
counts[:50]

                                               Condition  Count
4019                  Unspecified essential hypertension  20703
4280               Congestive heart failure, unspecified  13111
42731                                Atrial fibrillation  12891
41401  Coronary atherosclerosis of native coronary ar...  12429
5849                   Acute kidney failure, unspecified   9119
25000  Diabetes mellitus without mention of complicat...   9058
2724                Other and unspecified hyperlipidemia   8690
51881                          Acute respiratory failure   7497
5990         Urinary tract infection, site not specified   6555
53081                                  Esophageal reflux   6326
2720                           Pure hypercholesterolemia   5930
V053   Need for prophylactic vaccination and inoculat...   5779
V290      Observation for suspected infectious condition   5519
2859                                 Anemia, unspecified   5406
2449                 Unspecified acquired hypothyroidism   4917
486                      Pneumonia, organism unspecified   4839
2851                        Acute posthemorrhagic anemia   4552
2762                                            Acidosis   4528
496    Chronic airway obstruction, not elsewhere clas...   4431
99592                                      Severe sepsis   3912
V5861          Long-term (current) use of anticoagulants   3806
0389                              Unspecified septicemia   3725
5070    Pneumonitis due to inhalation of food or vomitus   3680
V3000  Single liveborn, born in hospital, delivered w...   3566
5859                 Chronic kidney disease, unspecified   3435
311        Depressive disorder, not elsewhere classified   3431
40390  Hypertensive chronic kidney disease, unspecifi...   3421
3051                                Tobacco use disorder   3358
412                            Old myocardial infarction   3278
2875                       Thrombocytopenia, unspecified   3065
V4581                        Aortocoronary bypass status   3056
41071  Subendocardial infarction, initial episode of ...   3055
2761                   Hyposmolality and/or hyponatremia   3039
4240                              Mitral valve disorders   2926
V1582                    Personal history of tobacco use   2811
V3001  Single liveborn, born in hospital, delivered b...   2758
5119                        Unspecified pleural effusion   2734
V4582  Percutaneous transluminal coronary angioplasty...   2725
40391  Hypertensive chronic kidney disease, unspecifi...   2630
78552                                       Septic shock   2586
4241                              Aortic valve disorders   2550
V5867                 Long-term (current) use of insulin   2538
42789               Other specified cardiac dysrhythmias   2453
32723         Obstructive sleep apnea (adult)(pediatric)   2380
9971     Cardiac complications, not elsewhere classified   2343
5845   Acute kidney failure with lesion of tubular ne...   2287
2760                Hyperosmolality and/or hypernatremia   2272
7742   Neonatal jaundice associated with preterm deli...   2264
49390              Asthma, unspecified type, unspecified   2195
2767                                     Hyperpotassemia   2169