In [1]:
import pandas

In [8]:
sig_data = pandas.read_csv('/scr-ssd/mimic/sig_data.csv')

In [9]:
sig_data[:10]

,rec_id,segment,sig_index,sig_name,baseline,adc_gain,adc_res,adc_zero,fmt,init_value,checksum,units
0,3000003,1,0,II,0,24.0,8.0,0.0,80,0.0,-742.0,mV
1,3000003,1,1,V,0,24.0,8.0,0.0,80,0.0,0.0,mV
2,3000003,2,0,II,0,45.0,8.0,0.0,80,-9.0,-1948.0,mV
3,3000003,2,1,V,0,24.0,8.0,0.0,80,0.0,0.0,mV
4,3000003,3,0,II,0,29.0,8.0,0.0,80,-5.0,-3441.0,mV
5,3000003,3,1,V,0,24.0,8.0,0.0,80,0.0,4397.0,mV
6,3000003,4,0,II,0,29.0,8.0,0.0,80,-7.0,-1211.0,mV
7,3000003,4,1,V,0,15.0,8.0,0.0,80,6.0,462.0,mV
8,3000003,5,0,II,0,29.0,8.0,0.0,80,-6.0,-2551.0,mV
9,3000003,5,1,V,0,14.0,8.0,0.0,80,6.0,-12094.0,mV

In [25]:
a = sig_data['init_value']
a = a[a.notna()]
(a == a.astype('int16')).all()

True

In [23]:
a = sig_data['adc_zero']
a = a[a.notna()]
(a == a.astype('int16')).all()

True

In [18]:
(sig_data['baseline'] * sig_data['adc_gain'] == sig_data['adc_zero']).sum()

268224

In [16]:
sig_data[sig_data['sig_name'] == 'ABP']['adc_zero'].max()

2048.0

In [26]:
sig_data['adc_zero'].value_counts()

2048.0    3969986
512.0     3203013
0.0       1674651
2050.0        293
513.0          38
1.0             1
204.0           1
113.0           1
20.0            1
Name: adc_zero, dtype: int64

In [12]:
sig_data['adc_res'].value_counts()

12.0    3970281
10.0    3024634
8.0     1620718
9.0      178417
0.0       53934
3.0           1
Name: adc_res, dtype: int64

In [13]:
sig_data['fmt'].value_counts()

16    7227270
80    1620718
Name: fmt, dtype: int64