In [1]:
import tensorflow as tf
import numpy
import os
import json, pickle
import pandas
from functools import partial, reduce
import importlib

import sys
sys.path.append('../libs')

import flacdb
import prepare_data
import initialize
import data_pipeline
import conv_model
import plot_batch

In [13]:
metadata = pandas.read_hdf('/scr-ssd/mimic/metadata.hdf')

In [14]:
len(set(metadata['subject_id']))

10100

In [3]:
metadata

                hadm_id  subject_id                    time gender        dob  \
rec_id  seg_id
3000003 1        173995        9950 2155-04-19 19:44:07.664      M 2108-02-01
        2        173995        9950 2155-04-19 19:46:22.685      M 2108-02-01
        3        173995        9950 2155-04-19 19:46:25.757      M 2108-02-01
        4        173995        9950 2155-04-19 19:46:33.981      M 2108-02-01
        5        173995        9950 2155-04-19 19:46:37.053      M 2108-02-01
...                 ...         ...                     ...    ...        ...
3999988 6            -1          -1                     NaT    NaN        NaT
        7            -1          -1                     NaT    NaN        NaT
        8            -1          -1                     NaT    NaN        NaT
        9            -1          -1                     NaT    NaN        NaT
        10           -1          -1                     NaT    NaN        NaT

                age  weight  height  sig_len death_time   race
rec_id  seg_id
3000003 1        47     NaN      74    16878        NaT  white
        2        47     NaN      74      384        NaT  white
        3        47     NaN      74     1028        NaT  white
        4        47     NaN      74      384        NaT  white
        5        47     NaN      74   438826        NaT  white
...             ...     ...     ...      ...        ...    ...
3999988 6        -1     NaN      -1     5250        NaT    NaN
        7        -1     NaN      -1      250        NaT    NaN
        8        -1     NaN      -1      500        NaT    NaN
        9        -1     NaN      -1      250        NaT    NaN
        10       -1     NaN      -1    24875        NaT    NaN

[2273298 rows x 11 columns]

In [4]:
sigdata = pandas.read_hdf('/scr-ssd/mimic/sig_data.hdf')

In [5]:
sigdata

,rec_id,seg_id,sig_index,sig_name,baseline,adc_gain,adc_res,adc_zero,fmt,init_value,checksum,units
0,3000003,1,0,II,0,24.0,8,0,80,0,-742,mV
1,3000003,1,1,V,0,24.0,8,0,80,0,0,mV
2,3000003,2,0,II,0,45.0,8,0,80,-9,-1948,mV
3,3000003,2,1,V,0,24.0,8,0,80,0,0,mV
4,3000003,3,0,II,0,29.0,8,0,80,-5,-3441,mV
...,...,...,...,...,...,...,...,...,...,...,...,...
8847983,3999988,10,0,RESP,307,409.0,10,512,16,255,-13867,pm
8847984,3999988,10,1,PLETH,0,1023.0,10,512,16,511,-2859,NU
8847985,3999988,10,2,III,255,512.0,10,512,16,0,0,mV
8847986,3999988,10,3,V,255,512.0,10,512,16,0,0,mV
8847987,3999988,10,4,II,255,512.0,10,512,16,-32768,0,mV

In [28]:
len(set(metadata['subject_id']))

10100

In [11]:
metadata['death_time'].notna().mean()

0.04671011015713734

In [12]:
ls /scr-ssd/mimic

metadata.csv          metadata_old.hdf     sig_data.hdf          waveforms/
metadata.hdf          partition.pkl        sig_data_matched.csv
metadata_matched.csv  sig_data_backup.hdf  sig_data_old.hdf
metadata_old_2.hdf    sig_data.csv         test_subject_ids.txt

In [7]:
from initialize import *

In [11]:
diagnosis_init

,code,25000,2720,2724,2761,2762,27651,27652,27800,2859,4019,...,431,5119,51881,5715,5849,5859,78552,79902,99592,other
subject_id,hadm_id,,,,,,,,,,,,,,,,,,,,,
2,163353,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,145834,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,185777,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
5,178980,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6,107064,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99985,176670,False,False,True,False,False,False,False,False,True,False,...,False,False,True,False,False,False,True,False,True,True
99991,151118,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,True
99992,197084,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
99995,137810,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
99999,113369,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True

In [10]:
diagnosis_augmented

code                25000  2720  2724  2761  2762  27651  27652  27800  2859  \
subject_id hadm_id
20         157681       1    -1     1    -1    -1     -1     -1     -1    -1
79         181542      -1    -1    -1    -1    -1     -1     -1     -1    -1
107        174162      -1    -1     1    -1    -1     -1     -1     -1    -1
123        195632       1    -1    -1    -1    -1     -1     -1     -1    -1
124        172461      -1     1    -1    -1    -1     -1     -1     -1    -1
...                   ...   ...   ...   ...   ...    ...    ...    ...   ...
99873      143544      -1    -1     1    -1    -1     -1     -1     -1    -1
99883      150755      -1    -1    -1    -1    -1     -1     -1     -1    -1
99894      127380      -1    -1     1    -1     1     -1     -1     -1    -1
99982      112748      -1    -1    -1    -1    -1     -1     -1     -1    -1
           151454      -1    -1    -1    -1    -1     -1     -1     -1    -1

code                4019  ...  gender_F  gender_M  race_asian  race_black  \
subject_id hadm_id        ...
20         157681      1  ...         1        -1          -1          -1
79         181542     -1  ...        -1         1           0           0
107        174162     -1  ...        -1         1          -1          -1
123        195632      1  ...        -1         1          -1          -1
124        172461      1  ...        -1         1          -1          -1
...                  ...  ...       ...       ...         ...         ...
99873      143544     -1  ...        -1         1          -1          -1
99883      150755     -1  ...        -1         1          -1          -1
99894      127380     -1  ...         1        -1          -1          -1
99982      112748     -1  ...        -1         1          -1          -1
           151454     -1  ...        -1         1          -1          -1

code                race_hispanic  race_white  age_at_least_75  \
subject_id hadm_id
20         157681              -1           1                1
79         181542               0           0               -1
107        174162               1          -1               -1
123        195632               1          -1               -1
124        172461              -1           1               -1
...                           ...         ...              ...
99873      143544              -1           1               -1
99883      150755              -1           1               -1
99894      127380              -1           1               -1
99982      112748              -1           1               -1
           151454              -1           1               -1

code                height_at_least_70  weight_at_least_100  died
subject_id hadm_id
20         157681                    0                    0    -1
79         181542                    1                    0    -1
107        174162                    0                   -1    -1
123        195632                    1                    0    -1
124        172461                    0                    0    -1
...                                ...                  ...   ...
99873      143544                    1                    1    -1
99883      150755                   -1                   -1    -1
99894      127380                    0                   -1    -1
99982      112748                    1                   -1    -1
           151454                    1                   -1    -1

[5433 rows x 41 columns]

In [38]:
matched_data = metadata.reset_index()
matched_data = matched_data[matched_data['subject_id'] > 0]
matched_data.drop_duplicates(diagnosis.index.names, inplace=True)
matched_data.set_index(diagnosis.index.names, inplace=True)
matched_data.sort_index(inplace=True)
matched_data

                     rec_id  seg_id                    time gender        dob  \
subject_id hadm_id
20         157681   3544749       5 2183-04-28 17:48:34.810      F 2107-06-13
79         181542   3842928       5 2175-09-26 01:31:04.128      M 2123-06-11
107        174162   3860035      29 2122-05-14 11:47:31.000      M 2052-04-02
123        195632   3485814       7 2161-10-29 03:31:56.271      M 2105-08-31
124        172461   3255538       3 2160-07-05 22:37:40.963      M 2090-11-19
...                     ...     ...                     ...    ...        ...
99873      143544   3469554       4 2103-12-20 14:01:32.000      M 2058-05-08
99883      150755   3080175       3 2131-12-24 04:39:49.496      M 2058-02-04
99894      127380   3974697       3 2129-07-07 02:51:21.880      F 2069-07-03
99982      112748   3917821      13 2157-01-06 19:27:01.361      M 2091-10-02
           151454   3001360       3 2156-11-29 12:22:17.000      M 2091-10-02

                    age      weight  height  sig_len death_time      race  \
subject_id hadm_id
20         157681    75         NaN      -1  7098177        NaT     white
79         181542    52         NaN      70  4694782        NaT       NaN
107        174162    70   84.000000      -1  1186875        NaT  hispanic
123        195632    56         NaN      73  2546506        NaT  hispanic
124        172461    69         NaN      -1  1339511        NaT     white
...                 ...         ...     ...      ...        ...       ...
99873      143544    45  103.400002      74    87250        NaT     white
99883      150755    73   61.599998      65   391375        NaT     white
99894      127380    60   69.400002      -1    75125        NaT     white
99982      112748    65   64.599998      71   668000        NaT     white
           151454    65   71.199997      71   138500        NaT     white

                    chunk_count
subject_id hadm_id
20         157681            16
79         181542            16
107        174162            16
123        195632            16
124        172461            16
...                         ...
99873      143544             1
99883      150755             5
99894      127380             1
99982      112748            10
           151454             2

[5433 rows x 12 columns]

In [9]:
diagnosis

code                25000  2720  2724  2761  2762  27651  27652  27800  2859  \
subject_id hadm_id
20         157681       1    -1     1    -1    -1     -1     -1     -1    -1
79         181542      -1    -1    -1    -1    -1     -1     -1     -1    -1
107        174162      -1    -1     1    -1    -1     -1     -1     -1    -1
123        195632       1    -1    -1    -1    -1     -1     -1     -1    -1
124        172461      -1     1    -1    -1    -1     -1     -1     -1    -1
...                   ...   ...   ...   ...   ...    ...    ...    ...   ...
99873      143544      -1    -1     1    -1    -1     -1     -1     -1    -1
99883      150755      -1    -1    -1    -1    -1     -1     -1     -1    -1
99894      127380      -1    -1     1    -1     1     -1     -1     -1    -1
99982      112748      -1    -1    -1    -1    -1     -1     -1     -1    -1
           151454      -1    -1    -1    -1    -1     -1     -1     -1    -1

code                4019  ...  gender_F  gender_M  race_asian  race_black  \
subject_id hadm_id        ...
20         157681      1  ...         1        -1          -1          -1
79         181542     -1  ...        -1         1           0           0
107        174162     -1  ...        -1         1          -1          -1
123        195632      1  ...        -1         1          -1          -1
124        172461      1  ...        -1         1          -1          -1
...                  ...  ...       ...       ...         ...         ...
99873      143544     -1  ...        -1         1          -1          -1
99883      150755     -1  ...        -1         1          -1          -1
99894      127380     -1  ...         1        -1          -1          -1
99982      112748     -1  ...        -1         1          -1          -1
           151454     -1  ...        -1         1          -1          -1

code                race_hispanic  race_white  age_at_least_75  \
subject_id hadm_id
20         157681              -1           1                1
79         181542               0           0               -1
107        174162               1          -1               -1
123        195632               1          -1               -1
124        172461              -1           1               -1
...                           ...         ...              ...
99873      143544              -1           1               -1
99883      150755              -1           1               -1
99894      127380              -1           1               -1
99982      112748              -1           1               -1
           151454              -1           1               -1

code                height_at_least_70  weight_at_least_100  died
subject_id hadm_id
20         157681                    0                    0    -1
79         181542                    1                    0    -1
107        174162                    0                   -1    -1
123        195632                    1                    0    -1
124        172461                    0                    0    -1
...                                ...                  ...   ...
99873      143544                    1                    1    -1
99883      150755                   -1                   -1    -1
99894      127380                    0                   -1    -1
99982      112748                    1                   -1    -1
           151454                    1                   -1    -1

[5433 rows x 40 columns]

In [47]:
ids = metadata.reset_index()['subject_id']
len(set(ids[ids>0]))

10067

In [42]:
S = S4 | S5
sorted(S)[:5]

[(3000003, 1), (3000003, 2), (3000003, 3), (3000003, 4), (3000003, 5)]

In [58]:
recs = [i[0] for i in S]

In [63]:
sub_recs = {(i, j) for i, j, k in metadata.index if i > 0}

In [66]:
recs = {i for i, j in S}

In [67]:
len({i for i, j in sub_recs if j in recs})

10067

In [18]:
import importlib

In [2]:
import initialize

In [15]:
importlib.reload(initialize)

In [45]:
load_path = '/scr1/mimic/initial_data/'
sig_data, metadata = initialize.load_initial_data()
H = initialize.load_hypes()
diagnosis_init = initialize.load_diagnosis(H['icd_codes'])
diagnosis_augmented = initialize.augment_diagnosis(diagnosis_init, metadata)
diagnosis = initialize.fix_diagnosis(diagnosis_augmented)
priors = (diagnosis == 1).sum() / (diagnosis != 0).sum()
priors

code
25000                  0.201369
2720                   0.112389
2724                   0.276717
2761                   0.085799
2762                   0.110354
27651                  0.024648
27652                  0.028288
27800                  0.044666
2859                   0.134753
4019                   0.465626
41071                  0.074673
41401                  0.300719
4160                   0.009669
4240                   0.065480
4241                   0.069275
42731                  0.302998
42732                  0.033991
4275                   0.037180
4280                   0.300514
42832                  0.032799
42833                  0.037945
431                    0.044108
5119                   0.063844
51881                  0.174434
5715                   0.032131
5849                   0.209651
5859                   0.087646
78552                  0.062356
79902                  0.034464
99592                  0.085592
gender_F               0.497984
gender_M               0.633024
race_asian             0.034251
race_black             0.125995
race_hispanic          0.048884
race_white             0.840771
age_at_least_75        0.369811
height_at_least_70     0.319556
weight_at_least_100    0.197773
died                   0.132036
dtype: float64

In [18]:
(diagnosis == 1).any(level=0, axis=0).sum()

25000                  1724
2720                    991
2724                   2397
2761                    758
2762                    977
27651                   221
27652                   256
27800                   394
2859                   1199
4019                   4090
41071                   674
41401                  2629
4160                     85
4240                    579
4241                    615
42731                  2616
42732                   301
4275                    336
4280                   2517
42832                   281
42833                   322
431                     396
5119                    562
51881                  1536
5715                    271
5849                   1800
5859                    756
78552                   547
79902                   305
99592                   750
gender_F               4328
gender_M               5739
race_asian              239
race_black              817
race_hispanic           343
race_white             6444
age_at_least_75        3202
height_at_least_70     1383
weight_at_least_100    1164
died                   1194
dtype: int64

In [19]:
(diagnosis == 1).any(level=0, axis=0).sum()

25000                   900
2720                    555
2724                   1148
2761                    372
2762                    564
27651                    70
27652                    98
27800                   212
2859                    576
4019                   2106
41071                   360
41401                  1414
4160                     40
4240                    303
4241                    358
42731                  1419
42732                   154
4275                    233
4280                   1278
42832                    98
42833                   119
431                     218
5119                    342
51881                  1015
5715                    151
5849                    838
5859                    317
78552                   386
79902                    86
99592                   497
gender_F               2123
gender_M               2941
race_asian              113
race_black              335
race_hispanic           165
race_white             3252
age_at_least_75        1503
height_at_least_70      757
weight_at_least_100     589
died                    759
dtype: int64

In [17]:
diagnosis

code                4019  41071  41401  4240  4241  42731  42732  4275  4280  \
subject_id hadm_id
20         157681      1     -1      1    -1    -1     -1     -1    -1    -1
79         181542     -1     -1      1    -1    -1     -1     -1    -1    -1
107        174162     -1     -1     -1    -1    -1     -1     -1    -1    -1
123        195632      1     -1      1    -1    -1     -1     -1    -1    -1
124        172461      1     -1      1    -1    -1     -1     -1    -1    -1
...                  ...    ...    ...   ...   ...    ...    ...   ...   ...
99873      143544     -1     -1      1     1    -1     -1     -1    -1     1
99883      150755     -1     -1      1    -1    -1      1     -1    -1     1
99894      127380     -1     -1     -1    -1    -1     -1     -1    -1    -1
99982      112748     -1     -1     -1    -1    -1      1     -1    -1     1
           151454     -1     -1     -1    -1    -1      1     -1    -1     1

code                42833  ...  gender_F  gender_M  race_asian  race_black  \
subject_id hadm_id         ...
20         157681      -1  ...         1        -1          -1          -1
79         181542      -1  ...        -1         1           0           0
107        174162      -1  ...        -1         1          -1          -1
123        195632      -1  ...        -1         1          -1          -1
124        172461      -1  ...        -1         1          -1          -1
...                   ...  ...       ...       ...         ...         ...
99873      143544      -1  ...        -1         1          -1          -1
99883      150755      -1  ...        -1         1          -1          -1
99894      127380      -1  ...         1        -1          -1          -1
99982      112748      -1  ...        -1         1          -1          -1
           151454      -1  ...        -1         1          -1          -1

code                race_hispanic  race_white  age_at_least_75  \
subject_id hadm_id
20         157681              -1           1                1
79         181542               0           0               -1
107        174162               1          -1               -1
123        195632               1          -1               -1
124        172461              -1           1               -1
...                           ...         ...              ...
99873      143544              -1           1               -1
99883      150755              -1           1               -1
99894      127380              -1           1               -1
99982      112748              -1           1               -1
           151454              -1           1               -1

code                height_at_least_70  weight_at_least_100  died
subject_id hadm_id
20         157681                    0                    0    -1
79         181542                    1                    0    -1
107        174162                    0                   -1    -1
123        195632                    1                    0    -1
124        172461                    0                    0    -1
...                                ...                  ...   ...
99873      143544                    1                    1    -1
99883      150755                   -1                   -1    -1
99894      127380                    0                   -1    -1
99982      112748                    1                   -1    -1
           151454                    1                   -1    -1

[5433 rows x 22 columns]

In [20]:
diagnosis.columns

Index(['25000', '2720', '2724', '2761', '2762', '27651', '27652', '27800',
       '2859', '4019', '41071', '41401', '4160', '4240', '4241', '42731',
       '42732', '4275', '4280', '42832', '42833', '431', '5119', '51881',
       '5715', '5849', '5859', '78552', '79902', '99592', 'gender_F',
       'gender_M', 'race_asian', 'race_black', 'race_hispanic', 'race_white',
       'age_at_least_75', 'height_at_least_70', 'weight_at_least_100', 'died'],
      dtype='object', name='code')

In [42]:
root = '/scr1/mimic/'
clinic_file = lambda i: root + 'clinic/{}.csv'.format(i.upper())

In [44]:
date_cols = ['DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN']
patients = pandas.read_csv(clinic_file('patients'), parse_dates=date_cols)
patients.set_index('SUBJECT_ID', verify_integrity=True, inplace=True)
patients

,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
SUBJECT_ID,,,,,,,
249,234,F,2075-03-13,NaT,NaT,NaT,0
250,235,F,2164-12-27,2188-11-22,2188-11-22,NaT,1
251,236,M,2090-03-15,NaT,NaT,NaT,0
252,237,M,2078-03-06,NaT,NaT,NaT,0
253,238,F,2089-11-26,NaT,NaT,NaT,0
...,...,...,...,...,...,...,...
44089,31840,M,2026-05-25,NaT,NaT,NaT,0
44115,31841,F,2124-07-27,NaT,NaT,NaT,0
44123,31842,F,2049-11-26,2135-01-12,2135-01-12,NaT,1
44126,31843,F,2076-07-25,NaT,NaT,NaT,0
44128,31844,M,2098-07-25,NaT,NaT,NaT,0

In [58]:
hdrs_m = pickle.load(open('/scr1/mimic/headers_matched_.pkl', 'rb'))

In [61]:
len(hdrs_m)

914836

In [97]:
hdrs_m[0]

{'record_name': 'p000020-2183-04-28-17-47',
 'n_sig': 4,
 'fs': 125,
 'counter_freq': None,
 'base_counter': None,
 'sig_len': 9862593,
 'base_time': datetime.time(17, 47, 59, 486000),
 'base_date': datetime.date(2183, 4, 28),
 'comments': [],
 'sig_name': None,
 'layout': 'variable',
 'segments': None,
 'seg_name': ['3544749_layout',
  '~',
  '3544749_0001',
  '3544749_0002',
  '3544749_0003',
  '3544749_0004',
  '3544749_0005',
  '3544749_0006',
  '3544749_0007',
  '3544749_0008'],
 'seg_len': [0, 93, 3811, 124, 8, 380, 7098177, 15000, 30000, 2715000],
 'sig_segments': None,
 'n_seg': 10,
 'base_datetime': datetime.datetime(2183, 4, 28, 17, 47, 59, 486000)}

In [ ]:
sum('layouti['record_name'])

In [62]:
import glob

In [70]:
ls /scr1/mimic/headers/matched

DOI            local.css  p02/  p05/  p08/     RECORDS-numerics
HEADER.shtml   p00/       p03/  p06/  p09/     RECORDS-waveforms
HEADER.shtml~  p01/       p04/  p07/  RECORDS

In [19]:
def get_matched_rec_segs():
    hdrs = glob.glob('/scr1/mimic/headers/matched/p0*/*/*.hea')
    hdrs = [i.split('/')[-1].split('.')[0] for i in hdrs]
    rec_segs = [
        i.split('_') for i in hdrs 
        if 'layout' not in i and 'p' not in i
    ]
    rec_segs = {(int(i), int(j)) for i, j in rec_segs}
    return rec_segs

In [20]:
def get_matched_rec_segs_old():
    rec_segs = [i['record_name'] for i in hdrs_m]
    rec_segs = [
        i.split('_') for i in rec_segs 
        if 'layout' not in i and 'p' not in i
    ]
    rec_segs = {(int(i), int(j)) for i, j in rec_segs}
    return rec_segs

In [21]:
def get_general_rec_segs():
    hdrs = glob.glob('/scr1/mimic/headers/3*/*/*.hea')
    hdrs = [i.split('/')[-1].split('.')[0] for i in hdrs]
    rec_segs = [
        i.split('_') for i in hdrs 
        if 'layout' not in i and 'p' not in i
    ]
    rec_segs = {(int(i[0]), int(i[1])) for i in rec_segs if len(i) == 2}
    return rec_segs

In [22]:
def get_downloaded_rec_segs():
    rec_segs = os.listdir(flacdb.ROOT)
    to_tuple = lambda i: flacdb.rec_seg_to_tuple(i.split('.')[0])
    S1 = {to_tuple(i) for i in rec_segs if '_x.flac' in i}
    S2 = {to_tuple(i) for i in rec_segs if '_x.hea' in i}
    S3 = {to_tuple(i) for i in rec_segs if '_y.hea' in i}
    S4 = {to_tuple(i) for i in rec_segs if '_y.flac' in i}
    S5 = {to_tuple(i) for i in rec_segs if '.hea' in i and '_x' not in i and '_y' not in i}
    S = S1 & S2 & S3 & S4 & S5
    return S

In [23]:
def get_new_rec_segs():
    S = glob.glob('/scr1/mimic/new_data/*.flac')
    S = [i.split('/')[-1].split('.')[0].split('_') for i in S if '.flac' in i]
    S = {(int(i[0]), int(i[1])) for i in S if len(i) == 2}
    return S

In [28]:
import glob

In [29]:
S5 = get_new_rec_segs()

In [30]:
S3 = get_general_rec_segs()

In [31]:
S1 = get_matched_rec_segs()

In [32]:
S2 = get_matched_rec_segs_old()

NameError: name 'hdrs_m' is not defined

In [36]:
S4 = get_downloaded_rec_segs()

In [37]:
len(S6 & S4)

566217

In [34]:
len(S6 & S5)

632726

In [41]:
len(S6 & (S4 | S5))

1198943

In [141]:
len(S1 - (S4 | S5))

2

In [33]:
metadata = pandas.read_hdf('/scr-ssd/mimic/metadata.hdf')
S6 = metadata.reset_index()[['rec_id', 'seg_id']].values
S6 = {(i, j) for i, j in S6}

In [149]:
len(S1)

866338

In [40]:
len(S6 - S1)

1406960

In [39]:
len(S6)

2273298

In [38]:
len(S6 - (S4 | S5))

1074355

In [125]:
len(S2 - S3)

0

In [112]:
len(S1)

866338

In [113]:
len(S1 & S2)

866338

In [115]:
len(S2 - S1)

3934

In [155]:
{i for i, j in S6 - (S4 | S5)}

{3661824,
 3063812,
 3563527,
 3072013,
 3031061,
 3006488,
 3448857,
 3768355,
 3121187,
 3039268,
 3776550,
 3022887,
 3170352,
 3031096,
 3006521,
 3162170,
 3031106,
 3194953,
 3072073,
 3047501,
 3178573,
 3547219,
 3178586,
 3104866,
 3137639,
 3113067,
 3113072,
 3637363,
 3145849,
 3170427,
 3793028,
 3113109,
 3031190,
 3170460,
 3440803,
 3072168,
 3719345,
 3653809,
 3014838,
 3440822,
 3555519,
 3162308,
 3113166,
 3023058,
 3162323,
 3162326,
 3793117,
 3481823,
 3121390,
 3088623,
 3162354,
 3105015,
 3096825,
 3186953,
 3105035,
 3793170,
 3498259,
 3449113,
 3178777,
 3080475,
 3416347,
 3006759,
 3039532,
 3039541,
 3416384,
 3096901,
 3146058,
 3187021,
 3113296,
 3047774,
 3080544,
 3416416,
 3162466,
 3080556,
 3015021,
 3457390,
 3768697,
 3121544,
 3031433,
 3162504,
 3072395,
 3170716,
 3531176,
 3170729,
 3056043,
 3097006,
 3137968,
 3178929,
 3162546,
 3056051,
 3097020,
 3121603,
 3629516,
 3645903,
 3162580,
 3015124,
 3187167,
 3629546,
 3056107,
 3146219,
 3072494,
 3129841,
 3170804,
 3686902,
 3195384,
 3179028,
 3047957,
 3195415,
 3121688,
 3179035,
 3736108,
 3768878,
 3105336,
 3195448,
 3195450,
 3179077,
 3416646,
 3064392,
 3686986,
 3457613,
 3162701,
 3088975,
 3023441,
 3097172,
 3031637,
 3662426,
 3687003,
 3072618,
 3195504,
 3146356,
 3531390,
 3007104,
 3678850,
 3162768,
 3154585,
 3547801,
 3498662,
 3187373,
 3015356,
 3080900,
 3179205,
 3695307,
 3416782,
 3424975,
 3015378,
 3785429,
 3179224,
 3154651,
 3023584,
 3752673,
 3687138,
 3695335,
 3023596,
 3105521,
 3007218,
 3105523,
 3179265,
 3162890,
 3703570,
 3179291,
 3121954,
 3187497,
 3121963,
 3048235,
 3621705,
 3015517,
 3081067,
 3187564,
 3425135,
 3056497,
 3179388,
 3064704,
 3097472,
 3425155,
 3720069,
 3040142,
 3449743,
 3400592,
 3048337,
 3457953,
 3081122,
 3793830,
 3081126,
 3695537,
 3023795,
 3572664,
 3433407,
 3179479,
 3032030,
 3171298,
 3007459,
 3490790,
 3130353,
 3113978,
 3163133,
 3056638,
 3122175,
 3646470,
 3613705,
 3056652,
 3023895,
 3548183,
 3032114,
 3408956,
 3163205,
 3064901,
 3556426,
 3138637,
 3195981,
 3744853,
 3007577,
 3138651,
 3179612,
 3048557,
 3441773,
 3089519,
 3089526,
 3523710,
 3179652,
 3114119,
 3630217,
 3196045,
 3015821,
 3064981,
 3171478,
 3450006,
 3032220,
 3155120,
 3065022,
 3122381,
 3007696,
 3056850,
 3089628,
 3097824,
 3482849,
 3155176,
 3032298,
 3466478,
 3081468,
 3515650,
 3179782,
 3187974,
 3130630,
 3097862,
 3122442,
 3163407,
 3089679,
 3147026,
 3065112,
 3679516,
 3024163,
 3155237,
 3073320,
 3040554,
 3532078,
 3089713,
 3769653,
 3179846,
 3687753,
 3433803,
 3032401,
 3114325,
 3016021,
 3179863,
 3081562,
 3147105,
 3171689,
 3564909,
 3638642,
 3048819,
 3155322,
 3114364,
 3024259,
 3122574,
 3466639,
 3147150,
 3417490,
 3081624,
 3155355,
 3065260,
 3016111,
 3032496,
 3098033,
 3188147,
 3605939,
 3106236,
 3655107,
 3671512,
 3073511,
 3122687,
 3122688,
 3081731,
 3008006,
 3073548,
 3196430,
 3098128,
 3606036,
 3778071,
 3089968,
 3638833,
 3163701,
 3089975,
 3032634,
 3016259,
 3106380,
 3163731,
 3098201,
 3163738,
 3098205,
 3171945,
 3180140,
 3114607,
 3090032,
 3155573,
 3122805,
 3434114,
 3049090,
 3032717,
 3122831,
 3434137,
 3180196,
 3450538,
 3040942,
 3114677,
 3483321,
 3049147,
 3131072,
 3606223,
 3196624,
 3040976,
 3196632,
 3557084,
 3073767,
 3155693,
 3057396,
 3106550,
 3622651,
 3188476,
 3188481,
 3196674,
 3155726,
 3122962,
 3655447,
 3172121,
 3729184,
 3057442,
 3737378,
 3131174,
 3041068,
 3032878,
 3655483,
 3180353,
 3106632,
 3680075,
 3712845,
 3188560,
 3131223,
 3131224,
 3024743,
 3073896,
 3073899,
 3196788,
 3106676,
 3098486,
 3475321,
 3573627,
 3499914,
 3180427,
 3557261,
 3114899,
 3008408,
 3180443,
 3098523,
 3024803,
 3123110,
 3155901,
 3459017,
 3188683,
 3172301,
 3090383,
 3196882,
 3090394,
 3540955,
 3016670,
 3024864,
 3631079,
 3123184,
 3196924,
 3147776,
 3115020,
 3139605,
 3033109,
 3057692,
 3155997,
 3737632,
 3188790,
 3082305,
 3139665,
 3156050,
 3074130,
 3606611,
 3164252,
 3590239,
 3401823,
 3065957,
 3770478,
 3123312,
 3115120,
 3557488,
 3016819,
 3098744,
 3188859,
 3082364,
 3704964,
 3090565,
 3033228,
 3164310,
 3434648,
 3057822,
 3049632,
 3573927,
 3090612,
 3082438,
 3598535,
 3516621,
 3082452,
 3090647,
 3197148,
 3164384,
 3721443,
 3180774,
 3639528,
 3025129,
 3459308,
 3631341,
 3098872,
 3770623,
 3057921,
 3131658,
 3131659,
 3016971,
 3025166,
 3066127,
 3197204,
 3410210,
 3197221,
 3148073,
 3131698,
 3025202,
 3459380,
 3148093,
 3467584,
 3090753,
 3139905,
 3033412,
 3164484,
 3041606,
 3017033,
 3549522,
 3729756,
 3467619,
 3058025,
 3164535,
 3631480,
 3033469,
 3197314,
 3484037,
 3041676,
 3000717,
 3008913,
 3049886,
 3131806,
 3180960,
 3115425,
 3115433,
 3426730,
 3049908,
 3197365,
 3402164,
 3148217,
 3574206,
 3140030,
 3156424,
 3164624,
 3017172,
 3189208,
 3107312,
 3140082,
 3107320,
 3082745,
 3189242,
 3082749,
 3090942,
 3082761,
 3000847,
 3729935,
 3156501,
 3000855,
 3107360,
 3787300,
 3435049,
 3181111,
 3164732,
 3410494,
 3115583,
 3033663,
 3041862,
 3066443,
 3033679,
 3082839,
 3082848,
 3050088,
 3680876,
 3148403,
 3058294,
 3115640,
 3000960,
 3074700,
 3041935,
 3082896,
 3582617,
 3648158,
 3140257,
 3074729,
 3738289,
 3623612,
 3025598,
 3672766,
 3164867,
 3148489,
 3091157,
 3189462,
 3418859,
 3574507,
 3107575,
 3468031,
 3189506,
 3066634,
 3066645,
 3492632,
 3689249,
 3615534,
 3181368,
 3042104,
 3124033,
 3124040,
 3402575,
 3058524,
 3091296,
 3189603,
 3525482,
 3009386,
 3001203,
 3124085,
 3009408,
 3148679,
 3181448,
 3525512,
 3050386,
 3132325,
 3083176,
 3001262,
 3189681,
 3656625,
 3492787,
 3566518,
 3115958,
 3197880,
 3091384,
 3132351,
 3066827,
 3173325,
 3115987,
 3460056,
 3173353,
 3034102,
 3148790,
 3075064,
 3124216,
 3165179,
 3009539,
 3050499,
 3050506,
 3132429,
 3722255,
 3099664,
 3181587,
 3066903,
 3066910,
 3181604,
 3771430,
 3042352,
 3419188,
 3165240,
 3034176,
 3025985,
 3009603,
 3075144,
 3083337,
 3181646,
 3173457,
 3009617,
 3099730,
 3173462,
 3419224,
 3583071,
 3574883,
 3099748,
 3075191,
 3099772,
 3001469,
 3140735,
 3124352,
 3067013,
 3402886,
 3566727,
 3058826,
 3673228,
 3116174,
 3124377,
 3140761,
 3697821,
 3116191,
 3607711,
 3026081,
 3050662,
 3091628,
 3017901,
 3108027,
 3189960,
 3157198,
 3083471,
 3697880,
 3198178,
 3640547,
 3001570,
 3157229,
 3124465,
 3034353,
 3026163,
 3017979,
 3116293,
 3034382,
 3026201,
 3591452,
 3525917,
 3001637,
 3157292,
 3083577,
 3149113,
 3083583,
 3747145,
 3599689,
 3083599,
 3067226,
 3116386,
 3075438,
 3730805,
 3173750,
 3108216,
 3591558,
 3198358,
 3141022,
 3108258,
 3157415,
 3591593,
 3050925,
 3452336,
 3198389,
 3739077,
 3050951,
 3124687,
 3567067,
 3083742,
 3788266,
 3067377,
 3034610,
 3436024,
 3051007,
 3182081,
 3149319,
 3517965,
 3116559,
 3042832,
 3165715,
 3730965,
 3165724,
 3419681,
 3108389,
 3092011,
 3198516,
 3567157,
 3034680,
 3755580,
 3477054,
 3001920,
 3403335,
 3083852,
 3141197,
 3599954,
 3116626,
 3149397,
 3010134,
 3198565,
 3092072,
 3124841,
 3034747,
 3042939,
 3001980,
 3141245,
 3681926,
 3714694,
 3174024,
 3075726,
 3403408,
 3157651,
 3141277,
 3198622,
 3600039,
 3100331,
 3083952,
 3747517,
 3141310,
 3043016,
 3108555,
 3092174,
 3083984,
 3485393,
 3731154,
 3002090,
 3002094,
 3567346,
 3067648,
 3198726,
 3772168,
 3092240,
 3059473,
 3649322,
 3174194,
 3084091,
 3133247,
 3051332,
 3125073,
 3682133,
 3780438,
 3731299,
 3108714,
 3026794,
 3034995,
 3043188,
 3116920,
 3649416,
 3198860,
 3665810,
 3141526,
 3108774,
 3092392,
 3542995,
 3035094,
 3157978,
 3026906,
 3182562,
 3190756,
 3444719,
 3158007,
 3026939,
 3043335,
 3108877,
 3043343,
 3559442,
 3084308,
 3141655,
 3067948,
 3043375,
 3575856,
 3534906,
 3092544,
 3649601,
 3051598,
 3739729,
 3199063,
 3035230,
 3059810,
 3182693,
 3182697,
 3133554,
 3068037,
 3117191,
 3141768,
 3002511,
 3084431,
 3018897,
 3575955,
 3100826,
 3625114,
 3051676,
 3543197,
 3125408,
 3059873,
 3657905,
 3002554,
 3199163,
 3002557,
 3068117,
 3166422,
 3649763,
 3141866,
 3633388,
 3010801,
 3166449,
 3690744,
 3076349,
 3010822,
 3174665,
 3002634,
 3068173,
 3002645,
 3125568,
 3174726,
 3166534,
 3436874,
 3674443,
 3535181,
 3019088,
 3551568,
 3035483,
 3150173,
 3068254,
 3158367,
 3060068,
 3019109,
 3010920,
 3092849,
 3051892,
 3182973,
 3191169,
 3191182,
 3060113,
 3043740,
 3191201,
 3617186,
 3142054,
 3592623,
 3051988,
 3682780,
 3076579,
 3060205,
 3477998,
 3060209,
 3723768,
 3109375,
 3158527,
 3109377,
 3174917,
 3166730,
 3625487,
 3125776,
 3404305,
 3691034,
 3068444,
 3641885,
 3617314,
 3699238,
 3019302,
 3002921,
 3519021,
 3600943,
 3199541,
 3068475,
 3723835,
 3559999,
 3732033,
 3174978,
 3560007,
 3125833,
 3158602,
 3043916,
 3117649,
 3060311,
 3084894,
 3043939,
 3027562,
 3125871,
 3011185,
 3134068,
 3633791,
 3052182,
 3035806,
 3642023,
 3158700,
 3175086,
 3142324,
 3166901,
 3166902,
 3109562,
 3797690,
 3584705,
 3027650,
 3052227,
 3142341,
 3117766,
 3560134,
 3068621,
 3117775,
 3109585,
 3060436,
 3109591,
 3117785,
 3125983,
 3175136,
 3101412,
 3486448,
 3773173,
 3191542,
 3142390,
 3150581,
 3035906,
 3519235,
 3109638,
 3117835,
 3117839,
 3027737,
 3035931,
 3035936,
 3093284,
 3068722,
 3035956,
 3052346,
 3076933,
 3584845,
 3019606,
 3052377,
 3035997,
 3085150,
 3076960,
 3167074,
 3748707,
 3519336,
 3109737,
 3167084,
 3150705,
 3019642,
 3781502,
 3044228,
 3527559,
 3740554,
 3519374,
 3789713,
 3191698,
 3117973,
 3003286,
 3175340,
 3167150,
 3191731,
 3675079,
 3019720,
 3134414,
 3183567,
 3421136,
 3068898,
 3027939,
 3101678,
 3044334,
 3060722,
 3429363,
 3191805,
 3404799,
 3060737,
 3052552,
 3052554,
 3036176,
 3183635,
 3052576,
 3183652,
 3036199,
 3126320,
 3036212,
 3191861,
 3085365,
 3159098,
 3167291,
 3462206,
 3634242,
 3019859,
 3093591,
 3191895,
 3118173,
 3757160,
 3601517,
 3183729,
 3101827,
 3028109,
 3044496,
 3650713,
 3478682,
 3118236,
 3544221,
 3191972,
 3101871,
 3159222,
 ...}

In [117]:
{i for i, j in S2 - S1}

{3783537}

In [105]:
len(rec_segs)

870272

In [ ]:
len()

In [60]:
hdrs_m[0]

{'record_name': 'p000020-2183-04-28-17-47',
 'n_sig': 4,
 'fs': 125,
 'counter_freq': None,
 'base_counter': None,
 'sig_len': 9862593,
 'base_time': datetime.time(17, 47, 59, 486000),
 'base_date': datetime.date(2183, 4, 28),
 'comments': [],
 'sig_name': None,
 'layout': 'variable',
 'segments': None,
 'seg_name': ['3544749_layout',
  '~',
  '3544749_0001',
  '3544749_0002',
  '3544749_0003',
  '3544749_0004',
  '3544749_0005',
  '3544749_0006',
  '3544749_0007',
  '3544749_0008'],
 'seg_len': [0, 93, 3811, 124, 8, 380, 7098177, 15000, 30000, 2715000],
 'sig_segments': None,
 'n_seg': 10,
 'base_datetime': datetime.datetime(2183, 4, 28, 17, 47, 59, 486000)}

In [ ]:
for i in

In [57]:
len(set(patients.index))

46520

In [46]:
patients['EXPIRE_FLAG'].mean()

0.33875752364574374

In [51]:
ids = metadata.reset_index()['subject_id']
len(set(ids[ids>0]))

5064

In [55]:
len(set(diagnosis.reset_index()['subject_id']))

5064

In [56]:
metadata['gender'].value_counts()

M    47773
F    34912
Name: gender, dtype: int64